body {
  background: #1c2541;
  font: normal 15pt arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.384);
}

/* div {
  width: 250px;
  margin: auto;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.384);
} */

input {
  border-radius: 5px;
  background-color: #b2cde4;
}

button {
  border-radius: 5px;
  background-color: #b2cde4;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
